*_data.json
*_data.dev.json
playlists.json
venv/
.idea/
.vs/
downloaded/
testdata/
__pycache__/
playlists/
conf/*.py
dist/
data/
build/
ffmpeg.exe
*.spec
Run.lnk
*.ipynb
/*.log
cut_files.*
flacified/
.aider*
.coverage
