yt-dlp
youtube-search
numpy
setuptools~=78.1.1
wget~=3.2
levenshtein
music-tag
click~=8.1.7
colorama~=0.4.6
simple-term-menu
console-menu
easygui~=0.98.3
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
