import os
from src.playlist_export_device import PlaylistExportDevice

local_playlist = PlaylistExportDevice(playlist_file_prefix='my_computer', os_path=os.path)
other_device = PlaylistExportDevice(downloaded_path='/path/to/audio/library',
                    spotify_missing_paths=['/path/to/spotify/local/files/folder'],
                    playlist_file_prefix='other_device')
playlist_types = [local_playlist]  #, other_device]
